In [43]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd

In [45]:
df=pd.read_csv("datasets.csv")

In [46]:
df.head()

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datasetName   61 non-null     object
 1   about         61 non-null     object
 2   link          61 non-null     object
 3   categoryName  61 non-null     object
 4   cloud         24 non-null     object
 5   vintage       31 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.0+ KB

In [48]:
df.describe

<bound method NDFrame.describe of            datasetName                                            about  \
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

                                                 link       categoryName  \
0             https://github.com/biocore/American-Gut            Biology
1   https://github.com/jhpoelen/eol-globi-data/wik...            Biology
2                      http://en.tutiempo.net/climate    Climate/Weather
3   http://www.bigdatanews.com/profiles/blogs/big-...  Computer Networks
4   http://cnets.indiana.edu/groups/nan/webtraffic...  Computer Networks
..                                                ...                ...
56           http://lemurproject.org/clueweb12/FACC1/   Natural Language
57  https://aws.amazon.com/datasets/google-books-n...   Natural Language
58  https://aws.amazon.com/datasets/enron-email-data/    Social Networks
59  http://getglue-data.s3.amazonaws.com/getglue_s...    Social Networks
60                     http://nlp.uned.es/replab2013/    Social Networks

     cloud  vintage
0   GitHub      NaN
1   GitHub      NaN
2      NaN   1929.0
3      NaN   2012.0
4      NaN      NaN
..     ...      ...
56     NaN   2012.0
57  Amazon      NaN
58  Amazon      NaN
59     NaN      NaN
60     NaN   2013.0

[61 rows x 6 columns]>

In [49]:
df.tail()

,datasetName,about,link,categoryName,cloud,vintage
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [50]:
df

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [51]:
df.head(6)

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
5,Criteo click-through,Criteo click-through data,http://labs.criteo.com/2015/03/criteo-releases...,Computer Networks,NaN,NaN

In [58]:
df=df.drop(['datasetName'],axis=1)

In [59]:
df.rename(columns={"cloud":"Cloud"})

,about,link,categoryName,Cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...
56,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [60]:
df.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

In [61]:
df.shape

(61, 5)

In [65]:
duplicated_rows_df=df[df.duplicated()]
print(duplicated_rows_df.shape[0])

0

In [67]:
df.count()

about           61
link            61
categoryName    61
cloud           24
vintage         31
dtype: int64

In [68]:
df=df.drop_duplicates()
df.head()

,about,link,categoryName,cloud,vintage
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [69]:
df.shape

(61, 5)

In [70]:
print(df.isnull().sum())

about            0
link             0
categoryName     0
cloud           37
vintage         30
dtype: int64

In [74]:
df=df.dropna()

In [75]:
df.shape

(2, 5)